@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-mask {
  mask-image:linear-gradient(
    to bottom, 
    transparent 0%, 
    black 10%,
    red 10%,
    transparent 100%
  );
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}


.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background: transparent;
  color: #444;
}

.project-card img {
  width: 100%;
  max-width: 16rem;
  border-radius: 0.5rem;
  object-fit: cover;
}


.moving-gradient {
  background: linear-gradient(
    120deg,
      rgb(255, 177, 189),
      rgb(186, 186, 255),
      rgb(182, 255, 236)
    );
  background-size: 300% 300%;
  animation: gradientMove 18s ease infinite;
}

.moving-gradient-dark {
  background: linear-gradient(
    120deg,
      rgb(255, 177, 189),
      rgb(186, 186, 255),
      rgb(182, 255, 236)
    );
  background-size: 300% 300%;
  animation: gradientMove 18s ease infinite;
}

.moving-gradient-blue {
  background: linear-gradient(
    120deg,
      rgb(122, 50, 255),
      rgb(59, 59, 255),
      rgb(85, 255, 210)
    );
  background-size: 300% 300%;
  animation: gradientMove 18s ease infinite;
}

@keyframes gradientMove {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.autoShow {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.autoHide {
  animation: text-disappear both;
  animation-timeline: view();
  animation-range: exit 0% exit 80%;
}

@keyframes text-disappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.line-container {
  position: fixed;
  
}